body{
    background-color:#FAF3DD;
    font-family: Arvo,sans-serif;

}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: #F2CC8F;
  

}
#mainNavbar .navbar-brand {
    color: #3D405B;
    font-size: 1.7rem;
}
#mainNavbar .nav-link{
    color: rgba(150, 126, 94, 0.267);
}
#mainNavbar .nav-link:hover {
    color: #3D405B;

}